/*
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans' , sans-serif;
font-family: 'Pacifico'  , cursive;
font-family: 'Roboto'    , sans-serif;
font-family: 'Ubuntu'    , sans-serif;
*/


/* ID Selectors*/
#registrationPage{
    background-color: aquamarine;
    height: 549px;
}

#passwordHelpBlock{
    width: 100%;
}

/* Class Selectors */

.center{
    text-align: center;
}

.foodWasteImg{
    margin: 20px;
    height: 400px;
    width : 400px;
}

.form-control{
    width: 50%;
}


.extraTopMargin{
    margin-top: 30px;
}

.checkBoxMarginTop{
    text-align: center;
    margin-top: 7px;
}


.h1ForIndex{
    font-family: 'Ubuntu'    , sans-serif;
    font-weight: bold;
    font-size: 90px;
    line-height:1.5;
    /* line-height: 1.4; */
}

.loginUserImgMargin{
    margin-top: 50px;
}

.loginContainer{
    width: 50%;
    text-align: left;
}

.F1{
    width: 50%;
    border:solid black 2px;
    border-radius: 15px;
}

.F2{
    width: 50%;
    border:solid black 2px;
    border-radius: 15px;
}

.F3{
    width: 50%;
    border:solid black 2px;
    border-radius: 15px;
}


.innerFormPadding{
    padding: 8px;
}

.expandCard:hover {
    transform: scale(1.1);
}

.expandCard {
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
}

/* .underline{
    text-decoration: underline;
} */

.underline {
    position: relative;
    color: white;
    text-decoration: none;
}

.underline:hover {
    color: white;
}

.underline::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.underline:hover::before {
    transform: scaleX(1);
}

.hide{
    display: none;
}

.errorMsg{
    color: red;
}

.formNote{
    color:mediumslateblue;
}

.validMsg{
    color: darkgreen;
}

.validIcon{
    color: darkgreen;
}

.invalidIcon{
    color: red;
}
/* Html Selectors */

h1{
    font-family: 'Ubuntu'    , sans-serif;
    font-weight: bold;
    font-size: 50px;
    line-height:1.5;
    /* line-height: 1.4; */
}

h3{
    font-family: 'Ubuntu'    , sans-serif;
    font-weight: bold;
}
